<div class="user-card">
    <div class="user-img">
        <img src=<%= user.photo %> alt="Profile picture of <%= user.name %>" />
    </div>

    <div class="user-info">
        <h3 class="user-text"><%= user.name %></h3>
        <p class="user-text-post">Number of Posts: <%= user.posts_counter%> </p>
    </div>
</div>