<section >
  <%= render'partials/user', user: @user %>
    <% @posts.includes(:comments).each do |post| %>
    <ul class="post-list">
    <%= render 'partials/post', post: post %></ul>
    </ul>
    <% end %>
  <button type='button'>Pagination</button>
</section>